/*
   Laravel Mixを利用するためにはNode.jsとnpmが必要
   Node.jsとnpmがインストールされてない場合はインストールする

   手順
   ①resources/sass/app.scss（任意のファイル）にスタイルを書く
   ②npm run devする
   ③コンパイルされ、public/css/app.cssの内容が書き換えられる
   以下は例
*/
.aaa {
  padding: 10px;
}

.bbb {
  .button {
    position: absolute;
    top: 0;
    padding: 10px 15px;
    cursor: pointer;
  }
  .button:hover {
    color: #f7ecb5;
  }
}

.ccc {
  display: block;
  text-indent: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #999999;
  border: none;
}
